.sidebar-ap{
  background-color: #222d32;
  color: white;
  width: 20vw;
  position: fixed;
  height: 100%;
  overflow: hidden;
}
.sidebarHeader{
  border-bottom: 1px solid white;
  text-align: center;
  background-color: #367fa9;
}
.sidebarBody a{
  color: white;
}
.sidebar_icons{
  margin-right: 10px
}
.wrapper{
  overflow: auto;
}
.skin-blue .main-header .navbar{
  position: fixed;
  width: 100%;
  top: 0;
}
.bg-aqua .fa-user-o{
  color: white;
}
.content-wrapper, .right-side, .main-footer{
  margin-top: 60px;
}
.userName{
  padding: 10px 0 10px 0;
}
.sidebar-ap ul, li{
  list-style: none;
  padding-left: 2%;
  padding-bottom: 15px;
}
.toggle_button{
  position: absolute;
  right: 5%;
  font-size: 1.2em;
  top: 15px;
  display: none;
}
.mainBackoffice{
  position: absolute;
  width: 80vw;
  margin-left: 20vw;
  color: black;
  top: 0
}
.main-header .navbar{
  margin-left: 0;
  min-height: 60px;
}
.content-wrapper, .right-side, .main-footer{
  margin-left: 0;
}
.add_artists{
  color: green;
}
.artist_creation_box{
  display: none;
}
.add_artists:hover{
  color: green;
}
.main-header .sidebar-toggle{
  padding: 20px 15px;
}

@media screen and (max-width: 768px){
  .sidebar-ap{
    width: 100vw;
    opacity: 0.7;
    z-index: 1;
  }
  .sidebarBody{
    text-align: center;
  }
  .mainBackoffice{
    margin-left: 0;
    width: 100vw;
    top: 70px;
  }
  .toggle_button{
    display: inherit;
  }
}
