.input_search{
  width: 95%;
  border: 1px solid #ded9c3;
  padding-top: 5px;
  padding-bottom: 5px;
}

.artist_info{
  margin-top: 50px;
}
.artist_list{
  margin-top: 20px;
}
.parent_result_box{
  padding-left: 0px;
}
.result_box{
  position: absolute;
  border-radius: 2px;
  z-index: 10;
  width: 100%;
  border: 1px solid #ded9c3;
}
